<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pothole?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">potholeweb</property>
    <property name="hibernate.connection.password">potholewebpassword</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.connection.autocommit">true</property>
    <mapping resource="com/umd/pothole/hibernate/Device.hbm.xml"/>
    <mapping resource="com/umd/pothole/hibernate/Report.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
